.main-activity {
    background: rgb(252, 251, 245);
    width: 100vw;
    height: auto;
    font-family:'Noto Sans', sans-serif;
}

.container-tambah-kegiatan h3 {
    font-family: 'Archivo Black', sans-serif;
    font-style: normal;
    font-size: 35px;
    line-height: 64px;
}
.activity-entry {
    border: 5px solid rgb(163, 202, 200) !important;
    border-radius: 20px;
    width: 80vw;
    padding: 10px;
    box-shadow: 7px 9px 19px -6px rgba(161,158,161,1);
}

.btn-tambah-peserta {
    background-color: rgb(241, 240, 240);
    border-radius: 10px;
    padding: 5px;
    color: black;
    font-family: 'Archivo Black', sans-serif;
    font-size: 20px;
    padding: 10px;
    width: 25%;
    text-align: center;
    
}


