{% load static %}
<html>
    <head>
        <title>farah mumtaza.</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!--BOOTSTRAP CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--BOOTSTRAP SOSMED-->
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        
        <style>
        .body{
            display: flex;
            
        }
        </style>

    </head>
    <body style="background-color: rgb(238, 236, 212);"> 
        <div class="d-flex justify-content-center" style="width:100vw;">
            <img style="width:65vw; height: 135vh;" src="{% static 'CV_FarahMumtaza.jpg' %}"> 
        </div>
    </body>
</html>