{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="mainpage2">
    <div class="container my-auto">
        <div class="jumbotron">
            <h1 class="display-4">{{ friend.nama }}</h1>
            <p class="lead">{{ friend.umur }} </p>
            <p class="lead">{{ friend.gender }} </p>
        </div>
    </div>
</div>

{% endblock content %}