{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="mainpage d-flex flex-column">
    <div class="mt-5 ml-5">
        <a class="button-class" role="button" href="{% url 'new_friend' %}">Add a New Friend</a>
    </div>

    <div class="d-flex flex-column mt-5 entries">
        {% for friend in friends %}
        <div class="card mb-4 mx-5 entry">
            <div class="card-body">
                <a href="{% url 'friendDetail' id=friend.id %}"><h4 class="card-title">{{ friend.nama }}</h4></a>
                {% csrf_token %}
                {% if user.is_authenticated %}
                    <a href="{% url 'remove_friend' id=friend.id%}" class="card-link">REMOVE</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock content %}