{% extends "base.html" %}
{% load static %}
{% block content %}
    <!--SECTION 1-->
    <section id="home">
        <div class="main-title">farah<br>mumtaza</div>
    </section>

    <!--SECTION 2-->
    <section id="about">
        <div>
            <div class="screen2-heading1">i'm farah</div>
            <div class="screen2-heading2">I am a first year computer science student and <br> I enjoy expressing art through photography.</div>
        </div>
    </section>

    <!--SECTION 3-->
    <section id="profile">
        <img class="profile-picture" src="{% static 'farahfotostory.png' %}">
        <div class="biodata">
            <h1>FARAH MUMTAZA</h1>
            <h2>1906308495</h2>

            <h6>CURRENTLY STUDYING AT</h6>
            <p>University of Indonesia (2019 - )
            <br><i>Bachelor of Computer Science</i></p>
            <div class="column">
                <div class="skills">
                    <h6>SKILLS</h6>
                    <p>Photoshop</p>
                    <p>Lightroom</p>
                    <p>MS Office</p>
                    <p>Python</p>
                    <p>Java</p>
                </div>

                <div class="expertise">
                    <h6>EXPERTISE</h6>
                    <p>Programming</p>
                    <p>Graphic Design</p>
                    <p>Photography</p>
                    <p>English</p>
                    <p>Spanish</p>
                </div>
                
            </div>
            <a href="{% url 'cv' %}">Take a look at my CV!</a>   
        </div>
    </div>
    
    </section>
        <!--SECTION 4-->
    <section id="photography">
        <h1>PHOTOGRAPHY</h1>
        
        <!--BOOTSTRAP MODAL-->
        <!-- Button trigger modal -->
        <div class="container d-flex justify-content-start">
                <button type="button" class="btn btn-primary" style="background: grey; border-color: grey; position: relative; top: 5rem; left: 1rem;" data-toggle="modal" data-target="#exampleModalCenter">
                Enter full screen mode
                </button>
        </div>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">photo gallery</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="{% static 'foto1.jpg' %}" alt="First slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="{% static 'foto6.jpg' %}" alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="{% static 'foto8.jpg' %}" alt="Third slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="{% static 'foto4.jpg' %}" alt="Third slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="{% static 'foto3.jpg' %}" alt="Third slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="{% static 'foto7.jpg' %}" alt="Third slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="{% static 'foto2.jpg' %}" alt="Third slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="{% static 'foto5.jpg' %}" alt="Third slide">
                                        </div>
        
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    </div>
                    </div>
                    <div class="modal-footer">
                    <h6>photographs by Farah, 2018</h6>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>


        <div class="photos">
            <img class="photo" src="{% static 'foto1.jpg' %}">
            <img class="photo" src="{% static 'foto6.jpg' %}">
            <img class="photo" src="{% static 'foto8.jpg' %}">
            <img class="photo" src="{% static 'foto4.jpg' %}">
            <img class="photo" src="{% static 'foto3.jpg' %}">
            <img class="photo" src="{% static 'foto7.jpg' %}">
            <img class="photo" src="{% static 'foto2.jpg' %}">
            <img class="photo" src="{% static 'foto5.jpg' %}">
        </div>
        
    </section>

    <!--FOOTER-->
    <div id="footer">
            <div class="isi d-flex bd-highlight footer-rev">
                <div class="left flex-fill bd-highlight text-left footer-right">
                    <br>
                    <h1>farah mumtaza.</h1>
                    <p>A portfolio site.</p>
                    <p>© 2020 All rights served</p>
                </div>

                <div class="flex-fill bd-highlight text-left footer-left fa sosmed">
                    <a class= "fa fa-google" href="mailto:farahmumtaza.25@gmail.com?subject=subject"></a>
                    <a class= "fa fa-instagram" href="http://www.instagram.com/farahtb_"></a>
                    <a class= "fa fa-linkedin" href="http://www.linkedin.com/farahmumtaza"></a>
                </div>
                
            </div>
        </div> 
        
        <!--SCRIPT FOR STICKY NAVBAR-->
        <script type="text/javascript">
            window.onscroll = function() {myFunction()};
    
            // Get the navbar
            var navbar = document.getElementById("navbar1");
    
            // Get the offset position of the navbar
            var sticky = navbar.offsetTop;
    
            // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
            function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
            }
        </script>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock content %}
