{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="mainpage2"> 
        <div class="d-flex flex-column scheduleform">
            <h1 class="mt-3 add">Add a new friend</h1>
            <form method="POST">
                {% csrf_token %}
                <table>
                {{ form.as_table }}
                </table>
                <input type="submit" class="button-submit mx-auto" value="SUBMIT">
            </form>
        </div>
</div>

{% endblock content %}
