{% extends "base.html" %}
{% load static %}
{% block content %}
<div class = "body-story1 d-flex flex-column justify-content-center" style="background-color:  rgb(233, 229, 199)">
    <h1 style="text-align: center;">Profil Saya</h1>
    <section>
        <div style="text-align: center;">
            <img width=200 height=200 src="{% static 'farah.jpg' %}">
            <div>
                <div>
                    <h1>Nama : Farah Mumtaza</h1>
                    <h3>Pekerjaan : Mahasiswa</h3>
                    <h3>Tempat Tinggal : Jakarta, Indonesia</span></h3><br>
                </div>
            </div>
        </div>
    </section>

    <!--ABOUT-->
    <section style="text-align: center;">
        <h2>Tentang Saya</h2>
        <h4>NPM : 1906308495</h4>
        <h4>Angkatan : Maung 2019</h4>
        <h4>Hobi : Motret</h4>
        <h4>Tempat Kuliah : Universitas Indonesia</h4>
        <h4>Deskripsi diri : </h4>
        <h4>Semoga PPW sukses!</h4><br>
    </section>

    <!--RIWAYAT PENDIDIKAN-->
    <section style="text-align: center;">
        <h1>Riwayat Pendidikan</h1>
        <table style="font-size: small; margin-left: auto; margin-right: auto;">
        <tr>
        <th>Institusi</th>
        <th>Tahun</th>
        </tr>
        <tr>
        <td>SMAN 28 Jakarta</td>
        <td>2015 - 2019</td>
        </tr>
        <tr>
        <td>Fasilkom UI</td>
        <td>2019 - </td>
        </tr>
        </table><br>
    </section>

    <div style="text-align: center;">
        <h2>Kontak saya melalui: </h2>
        <h3>Instagram : <a href="https://www.instagram.com/farahtb_/">@farahtb_</a></h3><br>
    </div>
</div>
{% endblock content %}